# 2022-01-15 Dmitry Fedyuk https://www.upwork.com/fl/mage2pro
*
!*/
!/.editorconfig
!/.gitignore
!/composer.json
!/readme.md
!/app/code/**/*
!/app/design/frontend/Local/**/*
!/app/etc/config.php
# 2022-01-17 Dmitry Fedyuk https://www.upwork.com/fl/mage2pro
# "How to fix «Unable to apply data patch Magento\Theme\Setup\Patch\Data\RegisterThemes for module Magento_Theme»
# in Magento ≥ 2.3.5 in Windows?": https://mage2.pro/t/6177
!/vendor/magento/framework/Image/Adapter/Gd2.php
# 2022-01-17 Dmitry Fedyuk https://www.upwork.com/fl/mage2pro
# "How to fix «file_put_contents(generated/metadata/primary|global|plugin-list.php): failed to open stream:
# No such file or directory in lib\internal\Magento\Framework\Interception\PluginListGenerator.php on line 414»
# in Magento 2.4-develop in Windows?" https://mage2.pro/t/6178
!/vendor/magento/framework/Interception/PluginListGenerator.php
# 2022-01-17 Dmitry Fedyuk https://www.upwork.com/fl/mage2pro
# "How to fix the «Invalid template file» / «require_js.phtml» failure of Magento ≥ 2.3 in Windows?": https://mage2.pro/t/5774
!/vendor/magento/framework/View/Element/Template/File/Validator.php
/dev
/update/
/vendor/codeception
/vendor/endroid
/vendor/magento/framework/Test
/vendor/magento/magento2-base
/vendor/magento/magento2-functional-testing-framework
/vendor/mpdf
/vendor/tubalmartin