<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="magespark" translate="label" sortOrder="400">
            <label>MageSpark</label>
        </tab>
        <section id="magespark_checkout" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="5" translate="label">
            <label>Checkout</label>
            <tab>magespark</tab>
            <resource>MageSpark_Coupon::magespark_coupon</resource>
            <group id="coupon" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Limit Guest Checkout Coupon</label>
                <attribute type="expanded">1</attribute>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
