<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\SalesRule\Model\Rule\Action\Discount\CalculatorFactory">
        <arguments>
            <argument name="discountRules" xsi:type="array">
                <item name="get_y_for_each_x_spent_action" xsi:type="string">Mexbs\AdditionalPromotions\Model\Rule\Action\Discount\GetYForEachXSpent</item>
                <item name="get_y_for_each_x_spent_up_to_n_action" xsi:type="string">Mexbs\AdditionalPromotions\Model\Rule\Action\Discount\GetYForEachXSpentUpToN</item>
                <item name="buy_x_get_n_of_different_y_percent_discount_action" xsi:type="string">Mexbs\AdditionalPromotions\Model\Rule\Action\Discount\BuyXGetNOfYPercentDiscount</item>
                <item name="buy_x_get_n_of_different_y_fixed_discount_action" xsi:type="string">Mexbs\AdditionalPromotions\Model\Rule\Action\Discount\BuyXGetNOfYFixedDiscount</item>
                <item name="buy_x_get_n_of_different_y_fixed_price_discount_action" xsi:type="string">Mexbs\AdditionalPromotions\Model\Rule\Action\Discount\BuyXGetNOfYFixedPriceDiscount</item>
                <item name="buy_abc_get_n_of_different_d_percent_discount_action" xsi:type="string">Mexbs\AdditionalPromotions\Model\Rule\Action\Discount\BuyABCGetNOfDPercentDiscount</item>
                <item name="buy_abc_get_n_of_different_d_fixed_discount_action" xsi:type="string">Mexbs\AdditionalPromotions\Model\Rule\Action\Discount\BuyABCGetNOfDFixedDiscount</item>
                <item name="buy_abc_get_n_of_different_d_fixed_price_discount_action" xsi:type="string">Mexbs\AdditionalPromotions\Model\Rule\Action\Discount\BuyABCGetNOfDFixedPriceDiscount</item>
                <item name="get_each_n_after_m_percent_discount_action" xsi:type="string">Mexbs\AdditionalPromotions\Model\Rule\Action\Discount\GetEachNAfterMPercentDiscount</item>
                <item name="get_each_n_after_m_fixed_discount_action" xsi:type="string">Mexbs\AdditionalPromotions\Model\Rule\Action\Discount\GetEachNAfterMFixedDiscount</item>
                <item name="get_each_n_after_m_fixed_price_discount_action" xsi:type="string">Mexbs\AdditionalPromotions\Model\Rule\Action\Discount\GetEachNAfterMFixedPriceDiscount</item>
                <item name="get_all_after_m_percent_discount_action" xsi:type="string">Mexbs\AdditionalPromotions\Model\Rule\Action\Discount\GetAllAfterMPercentDiscount</item>
                <item name="get_all_after_m_fixed_discount_action" xsi:type="string">Mexbs\AdditionalPromotions\Model\Rule\Action\Discount\GetAllAfterMFixedDiscount</item>
                <item name="get_all_after_m_fixed_price_discount_action" xsi:type="string">Mexbs\AdditionalPromotions\Model\Rule\Action\Discount\GetAllAfterMFixedPriceDiscount</item>
                <item name="each_group_of_n_percent_discount_action" xsi:type="string">Mexbs\AdditionalPromotions\Model\Rule\Action\Discount\EachGroupOfNPercentDiscount</item>
                <item name="each_group_of_n_fixed_discount_action" xsi:type="string">Mexbs\AdditionalPromotions\Model\Rule\Action\Discount\EachGroupOfNFixedDiscount</item>
                <item name="each_group_of_n_fixed_price_discount_action" xsi:type="string">Mexbs\AdditionalPromotions\Model\Rule\Action\Discount\EachGroupOfNFixedPriceDiscount</item>
                <item name="products_set_percent_discount_action" xsi:type="string">Mexbs\AdditionalPromotions\Model\Rule\Action\Discount\ProductsSetPercentDiscount</item>
                <item name="products_set_fixed_discount_action" xsi:type="string">Mexbs\AdditionalPromotions\Model\Rule\Action\Discount\ProductsSetFixedDiscount</item>
                <item name="products_set_fixed_price_discount_action" xsi:type="string">Mexbs\AdditionalPromotions\Model\Rule\Action\Discount\ProductsSetFixedPriceDiscount</item>
                <item name="first_n_next_m_after_k_percent_discount_action" xsi:type="string">Mexbs\AdditionalPromotions\Model\Rule\Action\Discount\FirstNNextMAfterKPercentDiscount</item>
                <item name="first_n_next_m_after_k_fixed_discount_action" xsi:type="string">Mexbs\AdditionalPromotions\Model\Rule\Action\Discount\FirstNNextMAfterKFixedDiscount</item>
                <item name="first_n_next_m_after_k_fixed_price_discount_action" xsi:type="string">Mexbs\AdditionalPromotions\Model\Rule\Action\Discount\FirstNNextMAfterKFixedPriceDiscount</item>
                <item name="cheapest_percent_discount_action" xsi:type="string">Mexbs\AdditionalPromotions\Model\Rule\Action\Discount\CheapestPercentDiscount</item>
                <item name="cheapest_fixed_discount_action" xsi:type="string">Mexbs\AdditionalPromotions\Model\Rule\Action\Discount\CheapestFixedDiscount</item>
                <item name="cheapest_fixed_price_discount_action" xsi:type="string">Mexbs\AdditionalPromotions\Model\Rule\Action\Discount\CheapestFixedPriceDiscount</item>
            </argument>
        </arguments>
    </type>
</config>