<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="drc" translate="label" sortOrder="400">
            <label>drc</label>
        </tab>
        <section id="instagrampics" translate="label" type="text" sortOrder="300" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Instagram</label>
            <tab>drc</tab>
            <resource>Drc_InstagramPics::instagrampics</resource>
            <group id="general" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Instagram Configuration</label>
                <field id="is_enabled" translate="label Instagram" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
			<group id="api" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>API Settings</label>
                <field id="status" translate="label Instagram" type="label" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Status</label>
					<frontend_model>Drc\InstagramPics\Block\Adminhtml\System\Config\Frontend\Status</frontend_model>
                    <!-- <backend_model>Drc\InstagramPics\System\Config\Backend\Empty</backend_model> -->
                </field>

				<field id="client_id" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Client ID</label>
					<depends>
						<field id="status">0</field>
					</depends>
                </field>

				<field id="client_secret" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Client Secret</label>
					<depends>
						<field id="status">0</field>
					</depends>
                </field>

				<field id="oauth" translate="label" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
					<frontend_model>Drc\InstagramPics\Block\Adminhtml\System\Config\Frontend\Oauth</frontend_model>
					<comment><![CDATA[Add <b>http://www.yourdomain.com/instagrampics/api/connect/</b> to redirect urls for Instagram application.<br> Replace "<b>www.yourdomain.com</b>" with your Real Domain Name.]]></comment>
                </field>
            </group>
        </section>
    </system>
</config>
