<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <orange35_image_constructor>
            <general>
                <single_image_strategy>0</single_image_strategy>
            </general>
            <order>
                <image>
                    <width>165</width>
                    <height>165</height>
                </image>
            </order>
            <base_media_path>
                <layer>catalog/layer</layer>
                <layer_cache>catalog/layer/cache</layer_cache>
                <layer_tmp>tmp/catalog/layer</layer_tmp>
                <merged>catalog/layer/merged</merged>
                <order>order</order>
                <order_cache>order/thumbnail</order_cache>
                <import>import/catalog/orange35/image-constructor</import>
            </base_media_path>
            <layer_image_map>
                <smallImage>product_page_image_small</smallImage>
                <mediumImage>product_page_image_medium</mediumImage>
                <largeImage>product_page_image_large_no_frame</largeImage>
            </layer_image_map>
        </orange35_image_constructor>
    </default>
</config>
