<span class="product-image-container" data-bind="style: {width: width + 'px'}">
    <span class="product-image-wrapper"  style="position:relative" data-bind="style: {'padding-bottom': height/width*100 + '%'}, attr: {'item-id': $parent.itemId}" >
        <img class="product-image-photo" data-bind="attr: {src: src, alt: alt}, style: {width: width + 'px', height: height + 'px'}" />
        <!-- ko foreach: $data.layers -->
            <img style="position:absolute; top:0; left:0;" data-bind="attr: {src: src}, style: {width: width + 'px', height: height + 'px'}" />
        <!-- /ko -->
    </span>
</span>
