<?xml version="1.0"?>
<!--
/**
 * Copyright © Mageside. All rights reserved.
 * See MS-LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Mageside_Lindof" setup_version="1.0.1">
        <sequence>
            <module name="Ebizmarts_MailChimp"/>
            <module name="Swissup_Firecheckout"/>
        </sequence>
    </module>
</config>
