<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <amasty_affiliate>
            <cron>
                <enable>1</enable>
                <minimum_affiliate_balance>20</minimum_affiliate_balance>
            </cron>
        </amasty_affiliate>
    </default>
</config>
